<p-card header="Add Organisation" styleClass="user-form" class="flex justify-content-center mt-8">
    <form [formGroup]="addOrganisationFrom" (ngSubmit)="addOrganisation()" novalidate>
        <div class="field">
            <label for="name" class="block">Name</label>
            <input id="name" type="text" pInputText placeholder="Name" formControlName="name"
                   class="w-full"/>
            <small class="p-error block" *ngIf="addOrganisationFrom.get('name')?.invalid && addOrganisationFrom.get('name')?.dirty">
                Name is required</small>
        </div>

        <div class="field">
            <label for="orgLink" class="block">Link to your organisation's webpage</label>
            <input id="orgLink" type="text" pInputText placeholder="Organisation link" formControlName="orgLink"
                   class="w-full"/>
            <small class="p-error block" *ngIf="addOrganisationFrom.get('orgLink')?.invalid && addOrganisationFrom.get('orgLink')?.dirty">
                Organisation Link is required</small>
        </div>

        <div class="field">
            <label for="description" class="block">Description</label>
            <textarea id="description" type="text" pInputTextarea placeholder="Description" formControlName="description"
                   class="w-full" rows="5" cols="50"></textarea>
            <small class="p-error block" *ngIf="addOrganisationFrom.get('description')?.invalid && addOrganisationFrom.get('description')?.dirty">
                Description is required</small>
        </div>

        <button pButton type="submit" label="Add Organisation"></button>
    </form>
</p-card>
