<p-table
    [value]="organisations"
    [paginator]="true"
    [rows]="organisationsPerPage"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['id', 'name', 'iban', 'description']"
    #dt1
    selectionMode="single"
    [(selection)]="selectedOrganisation"
    dataKey="id"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="filterTable($event, dt1)" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:10%">Id</th>
            <th style="width:18%">Name</th>
            <th style="width:17%">Owner Email</th>
            <th style="width:15%">Approval Status</th>
            <th style="width:15%">Feature Status</th>
            <th style="width:15%">Link</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-organisation>
        <tr [pSelectableRow]="organisation">
            <td>{{ organisation.id }}</td>
            <td>{{ organisation.name }}</td>
            <td>{{ organisation.ownerEmail }}</td>
            <td>
                <p-chip [label]="getApprovedLabel(organisation)" [class]="organisation.isApproved ? 'p-chip-success' : 'p-chip-danger'"></p-chip>
            </td>
            <td>
                <p-chip [label]="getFeaturedLabel(organisation)" [class]="organisation.isFeatured ? 'p-chip-success' : 'p-chip-danger'"></p-chip>
            </td>
            <td>
                <button pButton icon="pi pi-arrow-right" class="md:align-self-end mb-2 p-button-rounded"
                        (click)="navigateToOrganisation(organisation)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <div class="flex">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="addNewRow()"></p-button>
            <p-button type="button" styleClass="p-button-text" class="ml-2"
                      [disabled]="selectedOrganisation === undefined"
                      severity="warning"
                      (click)="editRow()">
                Edit
            </p-button>
            <p-button type="button" styleClass="p-button-text" class="ml-2"
                      [disabled]="selectedOrganisation === undefined"
                      severity="danger"
            (onClick)="showDeleteConfirmation()">
                Delete
            </p-button>
            <p-button type="button" class="ml-2"
                      [disabled]="selectedOrganisation?.isApproved !== false"
                      (onClick)="approveOrganisation(selectedOrganisation)">
                Approve Organisation
            </p-button>
            <p-button type="button" class="ml-2"
                      [disabled]="selectedOrganisation?.isFeatured === null"
                      (onClick)="featureOrganisation(selectedOrganisation)">
                Change Feature Status
            </p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
