<p-card header="Edit review" styleClass="user-form" class="flex justify-content-center mt-8">
    <form [formGroup]="editReviewFrom" (ngSubmit)="editReview()" novalidate>
        <div class="field">
            <label for="title" class="block">Title</label>
            <input id="title" type="text" pInputText placeholder="Title" formControlName="title"
                   class="w-full"/>
            <small class="p-error block" *ngIf="editReviewFrom.get('title')?.invalid && editReviewFrom.get('title')?.dirty">
                Title is required</small>
        </div>

        <div class="mb-4 mt-4">
            <label for="stars" class="block mb-4">Stars</label>
            <small class="p-error block" *ngIf="editReviewFrom.get('stars')?.invalid && editReviewFrom.get('stars')?.dirty">
                Stars is required</small>
            <p-rating id="stars" formControlName="stars"></p-rating>
        </div>

        <div class="field">
            <label for="description" class="block">Description</label>
            <input id="description" type="text" pInputText placeholder="Description" formControlName="description"
                   class="w-full"/>
            <small class="p-error block" *ngIf="editReviewFrom.get('description')?.invalid && editReviewFrom.get('description')?.dirty">
                Description is required</small>
        </div>

        <button pButton type="submit" label="Edit Review"></button>
    </form>
</p-card>
