<div class="flex justify-content-center">
    <p-card class="m-1 w-10">
        <h1>
            Benefits for {{organisation.name}}
        </h1>
        <label for="donation" class="block">Sample donation</label>
        <p-inputNumber [(ngModel)]="donation" inputId="donation" mode="decimal" class="m-1"></p-inputNumber>
        <div *ngFor="let benefit of benefits">
            <div class="mb-2 mt-2 shadow-2 p-2">
                <h2>
                    {{benefit.name}}
                </h2>
                <p>
                    Price: {{benefit.priceInLei}}
                </p>
                <p>
                    Message: {{benefitService.getBenefitMessage(benefit, donation)}}
                </p>
                <p>
                    <p-button class="m-2 block" (onClick)="deleteBenefit(benefit)" severity="danger">
                        <i class="pi pi-times mr-2"></i>
                        Delete Benefit
                    </p-button>
                </p>
            </div>
        </div>
        <app-add-benefit [organisationId]="organisation.id" (addedBenefitEvent)="fetchBenefits()"
        [donation]="donation"></app-add-benefit>
    </p-card>
</div>
