<div class="flex justify-content-center">
    <div class="block w-8 bg-white mt-5">
        <div class="m-4">
            <img *ngIf="userData.profilePicture"
                class="w-2 h-2 shadow-2 block mx-auto border-round mt-5"
                 [src]="getProfilePictureLink()"
                 [alt]="'No Profile Picture'" />
            <h1 class="text-center">{{userData.firstname + ' ' + userData.lastname}}</h1>
            <div class="flex">
                <p-button class="m-2 block" (onClick)="goToEditUserInfo()">
                    Edit User Info
                    <i class="pi pi-arrow-right ml-2"></i>
                </p-button>
                <p-button class="m-2 block" (onClick)="goToChangePassword()">
                    Change password
                </p-button>
                <p-fileUpload
                    mode="basic"
                    chooseLabel="Change profile picture"
                    chooseIcon="pi pi-upload"
                    name="picture"
                    accept="image/*"
                    [maxFileSize]="1000000"
                    [url]="getUploadPictureUrl()"
                    (onUpload)="afterChangePicture()"
                    class="m-2"
                    [auto]="true"/>
                <p-fileUpload
                    mode="basic"
                    chooseLabel="Upload CV"
                    chooseIcon="pi pi-upload"
                    name="cv"
                    accept="application/pdf"
                    [maxFileSize]="1000000"
                    [url]="getUploadCVUrl()"
                    (onUpload)="afterChangeCV()"
                    class="m-2"
                    [auto]="true"/>
                <p-button *ngIf="userData.cvPath"
                    class="m-2 block">
                    <a [href]="getCVLink()" download="file.txt">Download CV</a>
                </p-button>
            </div>
            <p>
                First Name: {{userData.firstname}}
            </p>
            <p>
                Last Name: {{userData.firstname}}
            </p>
            <p>
                Email: {{userData.email}}
            </p>
            <h3>
                Your domains of interest:
            </h3>
            <div class="card flex gap-2 mb-4">
                <p-tag
                    *ngFor="let domain of userData.domains"
                    [icon]="'pi pi-times'"
                    [value]="domain.name"
                    (click)="removeDomain(domain)">
                </p-tag>
            </div>
            <p-dropdown [options]="filterOutDomains(allDomains, userData.domains)"
                        [(ngModel)]="selectedDomain"
                        (onChange)="addDomain($event)"
                        optionLabel="name"
                        optionValue=""
                        [showClear]="true"
                        placeholder="Add a domain"
                        class="m-2">
            </p-dropdown>
        </div>
    </div>
</div>
