<div class="flex justify-content-center mt-8">
    <p-card>
        <h1>Change password
        </h1>
        <form (ngSubmit)="changePassword()" novalidate>

            <label for="currentPassword">Current password</label>
            <p-password id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword"
                        [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}"
                        class="">
            </p-password>

            <label for="newPassword">New password</label>
            <p-password id="newPassword" name="newPassword" [(ngModel)]="newPassword"
                        [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}"
                        class="">
            </p-password>


            <button pButton type="submit" label="Change password"></button>
        </form>
    </p-card>
</div>
