<p-card [header]="header">
    <p-dataView #dv [value]="sortedOrganisations" [rows]="5" [paginator]="true">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                            (onChange)="onSortChange($event)" styleClass="mb-1 md:mb-0">
                </p-dropdown>
                <input type="text" pInputText placeholder="Search by name" (input)="filterByName($event)">
            </div>
        </ng-template>
        <ng-template let-organisation pTemplate="listItem">
            <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-2 gap-2">
                    <img *ngIf="organisation.picture"
                         class="h-7rem w-7rem shadow-2 block mx-auto border-round"
                         [src]="getOrganisationPictureUrl(organisation)"
                         [alt]="organisation.name" />
                    <div *ngIf="!organisation.picture" class="block h-7rem w-7rem shadow-2">
                    </div>
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="text-xl font-bold text-900">{{ organisation.name }}</div>
                            <p-rating [(ngModel)]="organisation.averageRating" [readonly]="true" [cancel]="false"></p-rating>
                            <p-tag icon="pi pi-star"
                                   value="{{organisation.usersThatFavorited.length}}"
                                   severity="warning">
                            </p-tag>
                        </div>
                        <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                            <button pButton icon="pi pi-arrow-right" class="md:align-self-end mb-2 p-button-rounded"
                                    (click)="navigateToOrganisation(organisation)"></button>
                            <div class="flex align-items-center gap-3">
                                <p-tag *ngFor="let domain of organisation.domains"
                                       [value]="domain.name" severity="success">
                                </p-tag>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</p-card>
