<div class="flex justify-content-center">
    <div class="block w-8 bg-white mt-5">
        <div class="m-4">
<!--            <label for="fileUploadProfilePic">-->
<!--                <img class="w-9 w-22rem shadow-2 block xl:block mx-auto border-round mt-5"-->
<!--                     [src]="'https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg'"-->
<!--                     [alt]="organisation.name" />-->
<!--            </label>-->
            <img *ngIf="organisation.picture" class="h-12rem shadow-2 block mx-auto border-round mt-5"
                 [src]="getOrganisationPictureLink()"
                 [alt]="organisation.name" />
            <h1 class="text-center">{{organisation.name}}</h1>
            <div class="flex justify-content-center">
                <p-rating [(ngModel)]="organisation.averageRating" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <div class="card flex justify-content-center gap-2 mb-1 mt-1">
                <p-tag
                    *ngFor="let domain of organisation.domains"
                    [icon]="isOwner ? 'pi pi-times' : ''"
                    [value]="domain.name"
                    (click)="removeDomain(domain)">
                </p-tag>
            </div>
            <div class="flex">
                <p-button *ngIf="isOwner" class="m-2 block" (onClick)="goToEditOrganisation()">
                    Edit Organisation
                    <i class="pi pi-arrow-right ml-2"></i>
                </p-button>
                <p-button *ngIf="!hasFavoritedOrg" class="m-2 block" (onClick)="addOrgToFavorites()" severity="warning">
                    <i class="pi pi-star mr-2"></i>
                    Add to favorites
                </p-button>
                <p-button *ngIf="hasFavoritedOrg" class="m-2 block" (onClick)="removeOrgFromFavorites()" severity="danger">
                    <i class="pi pi-times mr-2"></i>
                    Remove from favorites
                </p-button>
                <p-button *ngIf="isOwner" class="m-2 block" (onClick)="goToBenefits()" severity="info">
                    <i class="pi pi-arrow-right mr-2"></i>
                    Manage benefits
                </p-button>
<!--                <label for="fileUploadProfilePic">-->
<!--                    <p-button *ngIf="isOwner" class="m-2 block">-->
<!--                        <i class="pi pi-cloud-upload mr-2"></i>-->
<!--                        Change Profile Picture-->
<!--                    </p-button>-->
<!--                </label>-->
<!--                <input type="file" id="fileUploadProfilePic" class="" accept="image/png, image/jpeg" (change)="changePicture($event)" #fileUploadProfilePic>-->

                <p-fileUpload
                    *ngIf="isOwner && !isNullOrUndefined(organisation.id)"
                    mode="basic"
                    chooseLabel="Change Picture"
                    chooseIcon="pi pi-upload"
                    name="picture"
                    accept="image/*"
                    [maxFileSize]="1000000"
                    [url]="getUploadPictureUrl()"
                    (onUpload)="afterChangePicture()"
                    class="m-2"
                    [auto]="true"/>
                <p-dropdown *ngIf="isOwner && !isNullOrUndefined(organisation.id)"
                            [options]="filterOutDomains(allDomains, organisation.domains)"
                            [(ngModel)]="selectedDomain"
                            (onChange)="addDomain($event)"
                            optionLabel="name"
                            optionValue=""
                            [showClear]="true"
                            placeholder="Add a domain"
                            class="m-2">
                </p-dropdown>
            </div>
            <p *ngIf="organisation.orgLink">
                Link to website: <a [href]="organisation.orgLink">{{organisation.orgLink}}</a>
            </p>
            <h3>
                About Us
            </h3>
            <p>
                {{organisation.description}}
            </p>
            <p *ngIf="organisation.iban">
                Bank Account IBAN: {{organisation.iban}}
            </p>
            <app-reviews-for-organisation *ngIf="organisation.id" [organisation]="organisation">
            </app-reviews-for-organisation>
        </div>
    </div>
</div>
