<div class="flex justify-content-center">
    <div class="block w-8 bg-white mt-5">
        <div class="m-4">
            <img class="w-9 w-22rem shadow-2 block xl:block mx-auto border-round mt-5"
                 [src]="'https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg'"
                 [alt]="organisation.name" />
            <h1 class="text-center">{{organisation.name}}</h1>
            <div class="flex justify-content-center">
                <p-rating [(ngModel)]="organisation.averageRating" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <div class="flex">
                <p-button *ngIf="isOwner" class="m-2 block" (onClick)="goToEditOrganisation()">
                    Edit Organisation Info
                    <i class="pi pi-arrow-right ml-2"></i>
                </p-button>
                <p-button *ngIf="!hasFavoritedOrg" class="m-2 block" (onClick)="addOrgToFavorites()" severity="warning">
                    <i class="pi pi-star mr-2"></i>
                    Add to favorites
                </p-button>
                <p-button *ngIf="hasFavoritedOrg" class="m-2 block" (onClick)="removeOrgFromFavorites()" severity="danger">
                    <i class="pi pi-times mr-2"></i>
                    Remove from favorites
                </p-button>
            </div>
            <p *ngIf="organisation.orgLink">
                Link to website: <a [href]="organisation.orgLink">{{organisation.orgLink}}</a>
            </p>
            <h3>
                About Us
            </h3>
            <p>
                {{organisation.description}}
            </p>
            <p *ngIf="organisation.iban">
                Bank Account IBAN: {{organisation.iban}}
            </p>
            <app-reviews-for-organisation *ngIf="organisation.id" [organisation]="organisation">
            </app-reviews-for-organisation>
        </div>
    </div>
</div>
